<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    <aop:aspectj-autoproxy />-->

    <bean id="program" class="org.example.Program"/>
    <bean id="aspect" class="org.example.Aspect"/>

    <aop:config>
        <aop:aspect id="myAspect" ref="aspect" >
            <aop:pointcut id="pointcut" expression="execution(* org.example.Program.*(..))" />
            <aop:before method="method" pointcut-ref="pointcut" />
        </aop:aspect>
    </aop:config>
</beans>